@use "../../../../variables" as *;

.exchange {
  @include flexCol;
  position: relative;

  &__choose {
    @include flexCenter;
    background: $bgSub;
    border: 1px solid $border;
    border-radius: 5px;
    padding: 4px 12px;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      width: 100px;
    }
  }

  &__flag {
    color: $text;
    font-size: 14px;
    cursor: pointer;
  }

  &__dropdown {
    display: none;
  }

  &__dropdown-active {
    position: absolute;
    top: 27px;
    @include flexCol;
    background: $bgSub;
    border: 1px solid #d7daf7;
    border-radius: 5px;

    li {
      cursor: pointer;
      padding: 4px 12px;
    }

    @media screen and (max-width: 768px) {
      align-items: center;
      width: 100%;
      z-index: 1;

      li {
        width: 100%;
        text-align: center;
        padding: 12px;
      }
    }
  }
}